discord.py>=2.7.0
python-dotenv
aiosqlite
aiohttp
certifi
cloudscraper
beautifulsoup4
Flask
Pillow
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-auth
numpy
curl_cffi
requests
lxml
scrapling
yt-dlp
static-ffmpeg
gradio-client
python-docx