fastapi
uvicorn
python-multipart
python-dotenv
aiohttp
google-generativeai>=0.8.3
cloudscraper
beautifulsoup4
Pillow
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-auth
numpy
curl_cffi
requests
playwright
playwright-stealth
certifi
tavily-python
lxml
